@media screen and (max-width: 1600px) {
    /* Navbar analysis tabs */
    div.contentmain span.header-btns {
        padding: 10px 15px !important;
        font-size: 13px !important;
    }

    div.header div.title div.flag-log img.flag{
        left: 70% !important;
        top: -48% !important;
        height: 2.8rem !important;
    }
    div.header div.title div.flag-log img.rocket{
        height: 3.5rem !important;
        right: -25% !important;
        top: -18% !important;
    }

    /* Header bar */
    div.header {
        padding-top: 3px !important;
    }

    div.header div.title span.choosen-country img.logo {
        height: 45px !important;
    }

    div.header-container img.login{height: 46px !important;}
    div.header div.title img.cr {
        height: 46px !important;
        margin-top: -5px !important;
    }

    div.header div.user-package span {
        font-size: 15.5px !important;
    }

    div.header div.right-header div.setting span.username {
        font-size: 15.5px !important;
    }

    div.header div.setting img.team-other {
        height: 30px !important;
    }

    div.header div.setting img.team {
        height: 35px !important;
    }

    div.header div.setting span.notification-alert span.counter {
        padding: 0px 6px !important;
    }

    div.header div.setting img.team.setting {
        height: 28px !important;
        margin-top: -10px !important;
    }

    div.data-tabs span.side-tabs div.tab{font-size: 12px !important;}
    div.data-tabs div.alert-notifications{height: 20px !important;}
    div.alert-notifications marquee{font-size: 12px !important;}

    div.header div.setting-options{width: 25% !important;}
    div.header div.setting-options div.user-profile img{height: 50px !important;}
    div.header div.setting-options div.other-options, div.header div.setting-options span.logout{margin-top: 16px !important;}
    div.header div.setting-options div.other-options span, div.header div.setting-options span.logout{margin-bottom: 5px !important;}
    div.header div.setting-options div.current-plan{padding: 10px 0px !important;}
    div.header div.setting-options div.current-plan span.label{font-size: 14px !important;}
    div.header div.setting-options div.current-plan span.other-btn button{
        padding: 5px 10px !important;
        font-size: 15px !important;
    }


    /* Home page */
    div.content div.feature div.feat div.custom-dropdown div.dropdown-box {
        width: 10.5rem !important;
        height: 33px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }

    div.content div.feature div.feat div.custom-datepicker div.date-input {
        width: 13rem !important;
        font-size: 14px !important;
        height: 90% !important;
    }

    .opt1 {
        width: 15rem !important;
    }

    .direct div.selected-val {
        width: 20rem !important;
        height: 35px !important;
    }

    .opt1.fit-height {
        height: 35px !important;
        width: 20rem !important;
    }

    .mainsearch {
        padding: 7px 0px !important;
        width: 5.5rem !important;
        font-size: 17px !important;
    }

    .direct {
        font-size: 13px !important;
    }

    .direct.hscode {
        margin-left: calc(4rem) !important;
        height: 35px !important;
    }
    .direct.hscode::before{left: -21% !important;}

    div.content div.feature div.feat div.firstDrop span.label,
    div.feature>div.feat>div.secondDrop.d-flex.align-items-center>span.label,
    div.content div.feature div.feat div.custom-datepicker span.label {
        font-size: 13.5px !important;
    }

    div.content div.feature div.feat {
        margin-top: 12px !important;
    }

    div.content div.feature {
        border-bottom-left-radius: 55px !important;
        border-bottom-right-radius: 55px !important;
    }

    div.content div.feature img.up-arrow,
    div.content div.feature img.down-arrow {
        left: 1.5rem !important;
        height: 25px !important;
        bottom: 1rem !important;
    }

    /* /////// */
    div.content div.feature {
        margin-bottom: 17px !important;
    }

    div.datavaluesmain div.left-elements div.records {
        width: 6rem !important;
    }

    div.datavaluesmain div.left-elements div.records p {
        font-size: 15.5px !important;
        font-weight: bold !important;
        line-height: 22px !important;
    }

    div.hide-show-tabs-left{left: 10px !important; bottom: -15px !important;}
    div.hide-show-tabs-right{ right: 5px !important; bottom: -15px !important;}

    div.hide-show-tabs-left img,
    div.hide-show-tabs-right img{height: 13px !important;}

    div.datavaluesmain div.right-elements div.pages-num{font-size: 11px !important;}
    div.datavaluesmain div.right-elements span.drop-label{font-size: 13px !important;}

    div.datavaluesmain  div.right-elements{padding-right: 13px !important;}
    div.datavaluesmain  div.right-elements div.pageselect{width: 4.5rem !important;}

    div.datavaluesmain div.right-elements img.bookmark-icon {
        height: 25px !important;
        width: 30px !important;
    }

    div.datavaluesmain div.right-elements img.download-icon {
        height: 28px !important;
    }
    div.content div.data-table {margin-top: 10px !important;}
    div.content div.data-table table tbody td {
        padding: 4px 10px !important;
        font-size: 13px !important;
    }
    div.content div.data-table table tbody td:nth-child(1) div.extra-options img{height: 22px !important;}
    div.content div.data-table table tbody td:nth-child(1) div.extra-options   input[type="checkbox"],
    div.content div.data-table table thead th input[type="checkbox"]{scale: 0.95 !important;}

    div.datavaluesmain div.left-elements div.records div.record-data ul li{
        padding-bottom: 7px !important;
        padding-top: 7px !important;
        font-size: 11.8px !important;
    }


    /* side filter style  */
    div.side-options div.option-img img{height: 20px !important;}

    div.side-options div.option-name p{font-size: 14.5px !important;}

    /* div.mainsidebox.bottom   div.filter-options {max-height: calc(51vh) !important;} */

    div.sub-options ul li{padding-top: 3px !important;padding-bottom: 5px !important;}
    
    div.side-options.active + div.sub-options{height: 8vh !important;}



    /* admin panel */
    div.admin-btns h1 {
        font-size: 30px !important;
        margin-top: 5% !important;
    }
    div.admin-btns div.admin-options span.choice span{font-size: 18px !important;}
    div.admin-btns div.admin-options span.choice.client img{height: 35px !important;}
    div.admin-btns div.admin-options span.choice{padding: 40px 30px !important; width: 13rem !important;}
    div.admin-btns div.admin-options{gap: 25px !important;}

    div.admin-panel-container div.top-tabs div.tabs div.tab{width: 10.5% !important;}
    div.admin-panel-container div.top-tabs div.tabs div.tab img{height: 33px !important;}
    div.admin-panel-container div.top-tabs div.tabs div.tab span{
        font-size: 13px !important;
        white-space: nowrap !important;
        letter-spacing: 0.5px !important;
    }
    div.admin-panel-container div.top-tabs div.tabs div.tab:last-child img{height: 30px !important; }
    
    /* admin panel --->> user-panel */
    div.user-panel-container div.form-box h1{
        font-size: 32px !important;
        margin-bottom: 1rem !important;
    }
    div.user-panel-container div.form-box div.tab-indicator div.indicator img.pointer{height: 18px !important;}
    div.user-panel-container div.form-box div.tab-indicator div.tabs p{
        font-size: 14px !important;
        padding: 4px 0 !important;
    }
    div.user-panel-container div.form-box div.tab-indicator{margin-bottom: 1rem !important;}

    /* admin panel --->> user input */
    div.fields-container div.adduser-fields div.form-data {margin-bottom: 12px !important;}
    div.fields-container div.adduser-fields div.role-checks div.first-line label, div.fields-container div.adduser-fields div.form-data label{font-size: 15px !important;}
    div.fields-container div.adduser-fields div.form-data input, 
    div.fields-container div.adduser-fields div.form-data select{
        font-size: 14px !important;
    }


    div.fields-container div.plan-fields div.selectplan h3{font-size: 20px !important;}
    div.fields-container div.plan-fields select{font-size: 14px !important;}
    div.fields-container div.plan-fields div.selectplan{margin-bottom: 10px !important;}
    div.fields-container div.plan-fields section.left div.form-fields div.form-data{margin-bottom: 10px !important;}
    div.fields-container div.payment-fields div.amount-box label, 
    div.fields-container div.plan-fields section.right div.form-data label, 
    div.fields-container div.plan-fields section.left div.form-fields div.form-data label{font-size: 15px !important;}
    div.fields-container div.payment-fields div.amount-box input, 
    div.fields-container div.plan-fields section.right div.form-data input, 
    div.fields-container div.plan-fields section.left div.form-fields div.form-data input, 
    div.fields-container div.plan-fields section.left div.form-fields div.form-data select{font-size: 14px !important;}
    
    div.fields-container div.plan-fields section.left div.form-data span.input-field div.access-limit div.from select,
    div.fields-container div.plan-fields section.left div.form-data span.input-field div.access-limit div.to select{width: 100% !important;}

    /* admin panel --> clients */
    div.table-container div.table-body{height: 78% !important;}
    div.table-container div.table-body table thead th{
        color: white !important;
        white-space: nowrap !important;
        font-size: 15px !important;
        padding: 5px 0 !important;
    }
    div.table-container div.table-body table tbody tr td{
        font-size: 13px !important;
        white-space: nowrap !important;
        padding: 5px 0 !important;
    }
    div.table-container div.table-body table tbody tr td span.edit-btn{
        padding: 3px 3.5rem !important;
        font-size: 14px !important;
    }



    /* workstation */
    div.workstation-box div.filter-bar input[type="text"]{
        padding: 5px !important;
        font-size: 14px !important;
    }
    div.workstation-box div.filter-bar span.search-btn{
        width: 30px !important;
        padding-left: 5px !important;
    }
    div.workstation-box div.filter-bar span img{height: 18px !important;}
    div.workstation-box table thead th{font-size: 15px !important; letter-spacing: 0.3px !important;}
    div.workstation-box:not(.favourite-table) table tbody td {font-size: 13px !important;}
    div.table-container.favourite-table table thead th{padding: 5px 10px !important;}
    div.workstation-box div.table-container{height: 83% !important;}
    div.table-container.workspace div.folder-container div.folder-grid-container div.grid-folder img{height: 75px !important;}
    div.table-container.workspace div.folder-container div.folder-grid-container div.grid-folder div.folder-name{font-size: 13.5px !important;letter-spacing: 0.4px !important;}
    div.workstation-box div.filter-bar div.input-box div.total-count{right: 9% !important; bottom: 3rem !important;}


    /* user profile */
    div.container-box div.profile-container{margin-top: 0 !important;}
    div.container-box div.profile-container h1{
        font-size: 40px !important;
        margin-bottom: 1rem !important;
    }
    div.container-box div.profile-container div.user-setting-box{padding: 25px 0 !important;}
    div.container-box div.profile-container div.user-setting-box div.user-detail{margin-bottom: 1rem !important;}
    div.container-box div.profile-container div.user-setting-box div.user-detail img{height: 60px !important;}
    div.container-box div.profile-container div.user-setting-box div.user-more-options div.option{margin-bottom: 10px !important;}
    div.container-box div.profile-container div.user-setting-box div.user-more-options div.option span.info{font-size: 15px !important;}
    div.container-box div.plans-section app-plan-template{width: 30% !important;}

    div.container-box div.change-password div.form-container h3{
        padding-top: 20px !important;
        margin-bottom: 2rem !important;
        font-size: 30px !important;
    }
    div.container-box div.change-password div.form-container div.input-box{
        width: 80% !important;
        margin-bottom: 3rem !important;
    }
    div.container-box div.change-password div.form-container div.input-box div.input-field span:not(.error){font-size: 15px !important;}
    div.container-box div.change-password div.form-container div.input-box div.input-field div.input input{height: 35px !important;}
    div.container-box div.change-password div.form-container div.input-box div.input-field div.input img{
        height: 25px !important;
        margin-left: 10px !important;
    }
    div.container-box div.change-password div.form-container div.update-btn button{
        width: 25% !important;
        padding: 7px 0px !important;
        font-size: 17px !important;
    }


    /* user login */
    div.log-sign-cont div.loginmain, div.log-sign-cont div.signcont{
        width: 30% !important;
        font-size: 12px !important;
        padding: 25px 20px 0 20px !important;
    }
    div.log-sign-cont div.signcont h3.sign-box{font-size: 22px !important;}
    div.log-sign-cont div.signcont form.sign-form{margin-top: 25px !important;}
    div.log-sign-cont div.loginmain form div.login-email-pswd, 
    div.log-sign-cont div.loginmain form div.login-emails, 
    div.log-sign-cont div.signcont form.sign-form div.sign-email-box, 
    div.log-sign-cont div.signcont form.sign-form div.sign-comp-box{
        height: 35px !important;
        margin-top: 12px !important;
    }
    div.log-sign-cont div.signcont form.sign-form div.agreement input[type="checkbox"]{
        margin-top: 2px !important;
        margin-right: 5px !important;
        scale: 0.8 !important;
    }
    div.log-sign-cont div.signcont form.sign-form div.agreement p{font-size: 12.5px !important;}
    div.log-sign-cont div.signcont form.sign-form button.sign-main-btn, 
    div.log-sign-cont div.loginmain button.login-main-btn{
        font-size: 12.5px !important;
        width: 30% !important;
        height: 30px !important;
    }
    div.log-sign-cont div.arrow-container img{height: 80px !important;}
    div.loginmain div.login-title-box{top: -2rem !important;}
    div.log-sign-cont div.login-wel-box{margin-top: 3rem !important;}
    div.loginmain div.login-title-box img.login-title-img{height: 3.5rem !important;}
    div.log-sign-cont div.login-wel-box p span.login-wel-sp{font-size: 28px !important;}
    div.log-sign-cont div.loginmain ul.list{font-size: 14px !important;}
}


