div.container-box{
    height: 98%;
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    justify-content: center;
}

div.container-box div.notification-container{
    width: 60%;
    /* height: 75%; */
    background-color: white;
    position: relative;
    padding: 3rem 0 2rem;
    box-shadow: 0px 3px 20px 5px #b6b6b6;
}

div.container-box div.notification-container div.tab-btn{
    position: absolute;
    top: -8%;
    cursor: pointer;
    background: #848484;
    color: white;
    width: 20%;
    text-align: center;
    font-size: 18.5px;
    letter-spacing: 0.7px;
    padding: 10px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #ededed;
    border-bottom: 0;
}
div.container-box div.notification-container div.tab-btn:nth-child(2){left: 18%;}
div.container-box div.notification-container div.tab-btn.active-tab{
    color: black;
    background: white;
    z-index: 999;
}

div.container-box div.notification-container div.alert-box{
    text-align: center;
    margin-bottom: 2rem;
    width: 85%;
    margin: auto;
}
div.container-box div.notification-box div.form-container div.category-field,
div.container-box div.notification-container div.alert-box div.data-field{
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}
div.container-box div.notification-container div.alert-box div.data-field.checkbox-inp span{width: 20%;}
div.container-box div.notification-container div.alert-box div.data-field.checkbox-inp input{width: 5%;accent-color: #4cbfa6;}
div.container-box div.notification-box div.form-container div.category-field span,
div.container-box div.notification-box div.form-container div.editor-field span,
div.container-box div.notification-container div.alert-box div.data-field span{
    width: 30%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.7px;
}
div.container-box div.notification-box div.form-container div.category-field select,
div.container-box div.notification-container div.alert-box div.data-field input{
    width: 70%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #c2c2c2;
}
div.container-box div.notification-container div.alert-box div.data-field.editor-inp{
    align-items: flex-start;
    flex-direction: column;
}
div.container-box div.notification-container div.alert-box div.data-field.editor-inp span{margin-bottom: 0.75rem;}
div.container-box div.notification-container div.alert-box div.data-field div.editor{
    width: 100%;
    height: 15rem;
    border: 1px solid #c2c2c2;
    overflow: auto;
    text-align: left;
    padding: 10px 5px;
    outline: 0;
}

div.container-box div.reset-password-container div.submit button,
div.container-box div.notification-container div.notification-box div.submit button,
div.container-box div.notification-container div.alert-box div.submit button{
    width: 35%;
    font-size: 18px;
    border: 0;
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: 0.8px;
}


div.container-box div.notification-container div.notification-box{}
div.container-box div.notification-container div.notification-box div.form-container{
    width: 85%;
    margin: auto;
}
div.container-box div.notification-container div.notification-box div.form-container div.data-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
div.container-box div.notification-container div.notification-box div.form-container div.data-field span{margin-bottom: 0.5rem;}
div.container-box div.notification-container div.notification-box div.form-container div.data-field div.editor{
    height: 20rem;
    outline: 0;
    padding: 10px 5px;
    border: 1px solid #c2c2c2;
}




div.container-box div.reset-password-container{
    width: 60%;
    margin-top: -5%;
    position: relative;
    padding: 3rem 0 2rem;
    background-color: white;
    box-shadow: 0px 3px 20px 5px #b6b6b6;
}

div.reset-password-container h3{
    text-align: center;
    margin-bottom: 2.5rem;
}
div.reset-password-container div.data-field{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
div.reset-password-container div.data-field span{
    width: 30%;
    font-size: 17px;
    letter-spacing: 0.5px;
}
div.reset-password-container div.data-field div.dropdown-box{
    width: 70%;
    position: relative;
}
div.reset-password-container div.data-field div.dropdown-box div.input-txt{
    width: 100%;
    height: 2.5rem;
    border: 1px solid #c2c2c2;
}
div.reset-password-container div.data-field div.dropdown-box div.input-txt input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 16.5px;
    padding-left: 10px;
}
div.reset-password-container div.data-field div.dropdown-box div.input-txt div.items-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 5px;
}
div.reset-password-container div.data-field div.dropdown-box div.input-txt div.items-list span{
    background-color: teal;
    color: white;
    padding: 5px 30px;
    border-radius: 35px;
    width: fit-content;
}
div.reset-password-container div.data-field div.dropdown-box div.input-txt div.items-list span a{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}
div.reset-password-container div.data-field div.dropdown-box div.option-list{
    position: absolute;
    border: 1px solid #c2c2c2;
    width: 100%;
    height: 10rem;
    padding: 10px 0px;
    overflow: auto;
    background-color: white;
    z-index: 999;
}
div.reset-password-container div.data-field div.dropdown-box div.option-list div.option:hover{background-color: whitesmoke;}
div.reset-password-container div.data-field div.dropdown-box div.option-list div.option{
    padding: 5px 15px;
    border-bottom: 1px dotted #c2c2c2;
    font-size: 16.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}
div.reset-password-container div.data-field div.dropdown-box div.option-list div.option img{height: 35px; margin-right: 1rem;margin-left: 1.5rem;}





